{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
<div class="container-fluid my-3 px-0">
    <img src="//source.unsplash.com/random/900x300/?contact,phone" class="d-block w-100" alt="...">
</div>
<div class="container mb-3 px-7">
    <h2 class='text-center'> Contact Us</h2>

<form method="post" action ="contact" >
{% csrf_token %}

    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputName" name='name' placeholder="Enter your Name">
      
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name='email' placeholder="Enter your Email">
        
      </div>
    <div class="mb-3">
      <label for="Phone" class="form-label">Phone</label>
      <input type="Phone" class="form-control" id="exampleInputPhone" name='phone' placeholder="+91">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock body %}